/*------------------------------------------*/
/************RESET AND BASIC SETUP***********/
/*------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
}

.logo-font {
  font-family: 'Montserrat', sans-serif;
}

.heading-font {
  font-family: 'Bebas Neue', cursive;
}

.regular-font {
  font-family: 'Roboto', sans-serif;
}

.main-heading {
  font-size: 80px;
}

h5,
.secondary-heading {
  font-size: 24px;
}

.pricing-heading {
  font-size: 36px;
}

.product-section-heading {
  font-size: 48px;
}

.primary-color {
  color: #363958;
}

.secondary-color {
  color: #76c27e;
}

.regular-color,
.navbar-light .navbar-nav .nav-link {
  color: #3e3e3e;
}

.buttons {
  background-color: #363958;
  color: #fff;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}

.buttons:hover {
  background-color: #76c27e;
}

/* nav */
.navbar-light .navbar-toggler {
  border-color: transparent;
  color: #000;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Header */
#header {
  background-color: #fffff4;
}

.navbar-brand img {
  width: 300px;
}

/* offerings */

.offering-info-card img {
  width: 78px;
  height: 80px;
}

.offering-info-card-rounded {
  border-radius: 25px;
}

/* categories */
.categories {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.category-info img {
  width: 100px;
}

.categories .category-item .category-info {
  transition: 0.5s ease-in-out;
}

.category-item:hover .category-info {
  transform: scale(1.1);
}

/* product showcase */

img.rounded-product-img {
  border-radius: 30px;
}

.card {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

/* newsletter form */
#newsletter {
  background-color: #76c27e;
}

.newsletter-form {
  position: relative;
}
.newsletter-form input {
  border: 2px solid #363958;
  border-radius: 30px;
  padding: 10px 15px;
  background-color: transparent;
  font-weight: bold;
}
.newsletter-form input:focus {
  outline: none;
}
.newsletter-btn {
  background-color: #363958;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid #363958;
  border-radius: 30px;
  position: absolute;
  right: 70px;
}

/* responsive */
@media (min-width: 320px) and (max-width: 480px) {
  .navbar-brand img {
    width: 250px;
  }

  .newsletter-btn {
    right: 40px;
  }

  .service-img img {
    margin-top: 50px;
  }
}
